.postSk {
    width: 400px;
    height: 422px;
    margin-right: 12px;
    margin-bottom: 30px;
    animation: skeleton 1s ease infinite alternate;
    transition: ease-in;
  }
  
  @keyframes skeleton {
    to {
      opacity: 0.5;
    }
  }
  
  .postSkImg {
    background-color: #313131;
    width: 380px;
    height: 254px;
  }
  .postSkTitle1{
    background-color: #313131;
    width: 380px;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .postSkTitle2{
    background-color: #313131;
    width: 80px;
    height: 25px;
    margin-top: 2px;
    margin-bottom: 5px;
  }
  .postSkInfo {
    display: flex;
    margin-top: 15px;
  }
  .postSkDetail {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .postSkauthor{
    background-color: #313131;
    width: 200px;
    height: 10px;
    margin-bottom: 5px;
  }
  .postSkText {
    background-color: #313131;
    width: 380px;
    height: 35px;
    margin-bottom: 5px;
  }
  
  
  .topSk {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    animation: skeleton 1s ease infinite alternate;
  }
  
  .topSkIcon {
    width: 300px;
    height: 300px;
    background-color: #313131;
  }
  
  .topSkImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 40px;
    background-color: #313131;
  }
  
 
  @keyframes ball {
    to {
      transform: translateY(-10px);
    }
  }
  
  .customTet {
    font-weight: 100;
  }

  .card{
    margin-top: 10px;
    max-width: 350px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
  }
  .card .header{
    align-items: center;
  }
  .header .img{
    height: 300px;
    width: 300px;
    background: #d9d9d9;
    position: relative;
    overflow: hidden;
  }
  .details span{
    display: block;
    background: #d9d9d9;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  .details .name{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    width: 300px;
  }
  .details .about{
    height: 20px;
    width: 150px;
    margin-top: 10px;
    margin-left: 80px;
  }
  .card .description{
    margin: 25px 0;
  }
  .description .line{
    background: #d9d9d9;
    border-radius: 10px;
    height: 13px;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
  }
  .description .line-1{
    width: calc(100% - 15%);
  }
  .description .line-3{
    width: calc(100% - 40%);
  }
  .card .btns{
    display: flex;
  }
  .card .btns .btn{
    height: 45px;
    width: 100%;
    background: #d9d9d9;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
  }
  .btns .btn-1{
    margin-right: 8px;
  }
  .btns .btn-2{
    margin-left: 8px;
  }
  .header .img::before,
  .details span::before,
  .description .line::before,
  .btns .btn::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #d9d9d9 0%, rgba(0,0,0,0.05) 20%, #d9d9d9 40%, #d9d9d9 100%);
    background-repeat: no-repeat;
    background-size: 450px 400px;
    animation: shimmer 1s linear infinite;
  }
  .header .img::before{
    background-size: 650px 600px;
  }
  .details span::before{
    animation-delay: 0.2s;
  }
  .btns .btn-2::before{
    animation-delay: 0.22s;
  }
  @keyframes shimmer {
    0%{
      background-position: -450px 0;
    }
    100%{
      background-position: 450px 0;
    }
  }